@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;
}
ul {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
}
.logo {
  height: 150px;
  width: 200px;
}
.primary-button {
  border: none;
  border-radius: 5px;
  background-color: #7286d3;
  height: 60px;
  width: 140px;
  color: white;
  padding: 16px 12px;
  font-size: 20px;
}

/* start main style */
.service-title {
  margin-bottom: 30px;
  font-weight: 700;
}
.second-section {
  text-align: center;
}
.our-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
}

.service {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}
.service:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.service-h3 {
  margin-bottom: 20px;
  margin-top: 10px;
}
.service button {
  border: none;
  border-radius: 5px;
  background-color: #7286d3;
  height: 60px;
  width: 140px;
  padding: 16px 12px;
  font-size: 20px;
  margin-bottom: 10px;
}
.service button a {
  text-decoration: none;
  color: white;
}
/* footer style */

footer {
  max-width: 100%;
  height: 177px;
  background-color: #7286d3;
}
/* for mobile */

@media screen and (max-width: 576px) {
  body {
    margin: 0 auto;
  }
  nav {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
  }
  ul {
    flex-direction: column;
    padding: 0;
  }
  .our-services {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
  }
  .service-title {
    margin: 0;
    color: #e4002b;
  }
  hr {
    height: 2px;
    border-width: 0;
    background-color: #e4002b;
  }
  .service {
    margin: 0 50px;
  }
}
@media screen and (min-width: 577px) {
  hr {
    display: none;
  }
}
