@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  align-items: center;

  margin: 0 240px;
}
ul {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
}
.logo {
  height: 150px;
  width: 200px;
}
.primary-button {
  border: none;
  border-radius: 5px;
  background-color: #2754ba;
  height: 60px;
  width: 140px;
  color: white;
  padding: 16px 12px;
  font-size: 20px;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: whitesmoke;
}
.primary-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}
.banner {
  background-image: url("../images/banner.jpg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: 50px auto;
}

/* .banner-img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
  margin: 0 auto;
  left: 100px;
} */
.about {
  width: max(350px, 200px);
  color: whitesmoke;
  text-align: center;
  margin-inline: auto;
  padding-top: 240px;
  font-size: large;
  font-weight: 500;
}
/* start main style */
section {
  margin: 0 240px;
}
.service-title {
  margin-bottom: 30px;
  font-weight: 700;
  color: #34a853;
  font-size: 28px;
}
.second-section {
  text-align: center;
}
.our-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
}

.service {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.service:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.4s;
}
.service-h3 {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 1.5em;
}
.service button {
  border: none;
  border-radius: 5px;
  background-color: #00aee6;
  height: 60px;
  width: 140px;
  padding: 16px 12px;
  font-size: 20px;
  margin-bottom: 10px;
}

.responsibility {
  text-align: center;
  padding: 80px;
  margin: 100px auto;
  background-image: linear-gradient(45deg, #07a0e0, #c471ed, #f64f59);
  /*#07a0e0; */
}

.signature-line {
  color: white;
  font-weight: 700;
  font-size: 30px;
}
/* footer style */

footer {
  max-width: 100%;
  height: 300px;
  background-color: #123962;
  margin: 0 0;
  color: aliceblue;
  font-weight: 400;
}
.pay-contact {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 50px 0 50px;
}

.copyrights {
  display: flex;
  justify-content: center;
  color: #7b8fa1;
  text-align: center;
  border-top: 2px solid gray;
  margin-top: 50px;
}
.title-end {
  font-size: 20px;
  color: black;
  font-weight: 600;
}
/* for mobile */

@media screen and (max-width: 576px) {
  body {
    margin: 0 auto;
  }
  nav {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 30px;
  }
  ul {
    flex-direction: column;
    padding: 0;
  }
  .our-services {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
  }
  .service-title {
    margin: 0;
  }

  .service {
    margin: 0 50px;
  }
  nav {
    margin: 0 10px 30px 10px;
  }
  section {
    margin: 0 10px;
  }

  .pay-contact {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .copyrights {
    margin: 0;
    padding: 0;
  }
  footer {
    height: 400px;
  }
}
