* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0 240px;
}
nav {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  gap: 20px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
img {
  height: 50px;
  width: 80px;
}
